<button id="apitest" type="button" class="btn btn-default center-block">Test API</button>
<div id="response"></div>

<script>
  import $ from 'jquery'
  import Backend from '../lib/Backend'

  export default {
    methods: {
      pingApi: function () {
        let p = $('<p>')
        p.text(`Calling the API with a token...`)
        $('#response').empty().append(p)

        this.backend.ping().then(response => {
          let div = $('<div>')
          div.append($('<p>API response is:</p>'))
          div.append($('<pre>').text(JSON.stringify(response)))
          $('#response').append(div)
        }).catch(e => {
          $('#response').append($(`<p>Error calling Backend API: ${e}</p>`))
        })
      }
    },

    oncreate () {
      this.backend = Backend.build()
      $('#apitest').click(() => {
        this.pingApi()
      })
    }

  }
</script>
