<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" on:click="brandButtonClick(event)">SheetMonkey Server</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#gallery" on:click="navigateToGallery(event)">Gallery</a></li>
        <li><a href="#apitest" on:click="apiTestButtonClick(event)">API Test</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ProfileButton user='{{user}}' store='{{store}}' />
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="rootComponent"></div>

<script>
  import $ from 'jquery'
  import ApiTest from './ApiTest.html'
  import ProfileButton from './ProfileButton.html'
  import Gallery from './Gallery.html'

  export default {
    components: {
      ProfileButton
    },
    methods: {

      queryRootComponentTarget () {
        let target = $('#rootComponent')
        if (target.length === 0) {
          throw new Error('root component container not found!')
        }
        console.log('queryRootComponentTarget returning:', target.get(0))
        return target.get(0)
      },

      getTarget () {
        const target = window.rootComponentTarget
        if (!target) {
          throw new Error('target for creating compnoents required!')
        }
        return target
      },

      apiTestButtonClick (event) {
        const comp = new ApiTest({
          target: this.getTarget()
        })
        window.setRootComponent(comp)
      },

      navigateToGallery (event) {
        let comp = new Gallery({
          target: this.getTarget()
        })
        window.setRootComponent(comp)
      },

      brandButtonClick (event) {
        window.setRootComponent(null)
      },

      dispatch (action) {
        this.get('store').dispatch(action)
      }
    },

    oncreate () {
      const store = this.get('store')
      console.log('App intialized with store: ', store ? store.getState() : 'null store!')
      this.set({store: store})

      // provide these globals to allow other components to replace the root component in the view:
      window.setRootComponent = function setRootComponent (component) {
        if ('currentRootComponent' in window && window.currentRootComponent) {
          if (!Object.is(window.currentRootComponent, component)) {
            window.currentRootComponent.destroy()
            window.currentRootComponent = null
          }
        }
        window.currentRootComponent = component
      }
      window.rootComponentTarget = this.queryRootComponentTarget()

      this.navigateToGallery()

      // get this components state updated anytime store is updated:
      this.unsubscribeStore = store.subscribe(() => {
        let state = store.getState()
        console.log('redux state change detected in App:', state)
        // make the 'app' state available to this component as root-level props (note this doesn't overwrite existing props set already)
        this.set(state)
      })
    },

    ondestroy () {
      if (this.unsubscribeStore) {
        this.unsubscribeStore()
        this.unsubscribeStore = null
      }
    }
  }
</script>

