<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" on:click="brandButtonClick(event)">SheetMonkey Server</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#apitest" on:click="apiTestButtonClick(event)">API Test</a></li>
        <li><a href="#plugins" on:click="navigateToPlugins(event)">Plugins</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ProfileButton user='{{user}}' store='{{store}}' />
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h1>Hello {{name}}</h1>

<div id="appcontent"></div>

<script>
  import $ from 'jquery'
  import ApiTest from './ApiTest.html'
  import Plugins from './Plugins.html'
  import ProfileButton from './ProfileButton.html'

  export default {
    components: {
      ProfileButton
    },
    methods: {
      setContent (content) {
        let old = this.get('currentContent')
        if (old) {
          try {
            old.destroy()
          } catch (e) {
          }
        }
        this.set({ currentContent: content })
      },

      apiTestButtonClick (event) {
        let target = $('#appcontent').get(0)
        this.setContent(new ApiTest({
          target: target
        }))
      },

      navigateToPlugins (event) {
        let target = $('#appcontent').get(0)
        let comp = new Plugins({
          target: target,
          data: {
            plugins: this.get('plugins'),
            store: this.get('store')
          }
        })
        this.setContent(comp)
      },

      brandButtonClick (event) {
        this.setContent(null)
      }
    },
    oncreate () {
      const store = this.get('store')
      console.log('App intialized with store: ', store ? store.getState() : 'null store!')
      this.set({store: store})
      store.subscribe(() => {
        let state = store.getState()
        console.log('App subscribe state:', state)
        this.set(state) // NOTE: this won't overwrite the store property set above.
      })
    }
  }
</script>

