<!--
This is the public gallery of plugins used to install (and uninstall?) plugins.
Tasks:
- Detect if extension is installed and if not prompt to install it.
- Get a list of installed plugins from the extension.
- List all extensions and show an install link for those not already installed
- Have an installed tab to show and allow uninstalling installed extensions. Note installed extensions may not always be public.
-->
<div>
  <!-- Nav tabs -->
  <ul id='gallery-tabs' class="nav nav-tabs">
    <li role="presentation" class="active">
      <a href="#public" on:click="toggleDisplayedPlugins(event)">Public Plugins <span class="badge">{{publicPlugins.length}}</span></a>
    </li>
    <li role="presentation">
      <a href="#installed" on:click="toggleDisplayedPlugins(event)">Installed Plugins <span class="badge">{{installedPlugins.length}}</a>
    </li>
  </ul>

  <div class="container-fluid">
    <div class="row">
      {{#if displayedPlugins.length === 0}}
       <small>No plugins available</small>
      {{/if}}
      {{#each displayedPlugins as plugin}}
        <div class="col-md-4 appcontainer">
          <div class="appicon">
            <img src="{{plugin.baseUrl + plugin.manifest.icon}}" style="width:120px; height:120px; text-align:center" />
          </div>
          <div class="appcontent">
            <h3 class="plugin-name">{{plugin.manifest.name}}</h3>
            <h3 class="plugin-subtitle"><small>{{plugin.manifest.subtitle}}</small></h3>
            <p class="plugin-description">{{plugin.manifest.description}}</p>
          </div>
          <div class="appactions">
            {{#if plugin.installed}}
              <button type="button" class="btn btn-success btn-xs" disabled>Installed</button>
            {{else}}
              <button type="button" class="btn btn-primary btn-xs">Installed</button>
            {{/if}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
<style>
  .appcontainer {
    height: 300px;
    overflow: hidden;
    margin: 20px;
  }
  .appicon { 
    float: left;
    height: 300px;
    width: 120px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: inline-block;
    position: relative;
  }
    /* because css is insane https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div */
  .appicon > img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .appcontent {
    max-height: 270px; /* leave plenty of room for appactions */
    padding: 5px;
    overflow:hidden;
    text-overflow: ellipsis;
  }
  .plugin-description {
    height:100%;
    text-overflow: ellipsis;
  }
  .appactions {
    height: 20px;
    padding: 5px;
    text-align:center;
  }
</style>
<script>
  /* global chrome */
  import Promise from 'bluebird'
  import $ from 'jquery'

  export default {
    methods: {
      toggleDisplayedPlugins (event) {
        // i.e. when tab is clicked, toggle displayed plugins
        const target = $(event.target)
        // deslect all tabs:
        $('#gallery-tabs > li').removeClass('active')
        // select appropriate tab:
        target.addClass('active')
        if (target.attr('href') === '#public') {
          this.set({displayedPlugins: this.get('publicPlugins')})
        } else {
          this.set({displayedPlugins: this.get('installedPlugins')})
        }
      },
      /**
       * Gets the list of installed plugins from the browser client.
       */
      getInstalledPlugins () {
        return Promise.try(() => {
          if (!window.chrome || !chrome.runtime) {
            // not even in chrome browser
            console.log('not in chrome browser, assuming sheetmonkey not available in client.')
            return
          }
          const sheetmonkeyExtensionID = 'ogdoodkbmjkdjinimjigbkhioigjgfij'
          const cmd = {
            sheetmonkey: {
              cmd: 'getRegisteredPlugins'
            }
          }
          chrome.runtime.connect(sheetmonkeyExtensionID)
          chrome.runtime.sendMessage(sheetmonkeyExtensionID, cmd, response => {
            // apparently we are, so get the list of installed plugins
            console.log('Chrome is present (not sure about extension yet)! Installed plugins returned from extension:', response)
            // for each extensionin the public gallery; if pugin is installed, set .installed = true
            if (response) {
              this.set({installedPlugins: response})
            }
            return response
          })
        })
      }
    },
    oncreate () {
      console.log('initializing gallery. public plugins:', this.get('publicPlugins'), 'installedPlugins:', this.get('installedPlugins'))
      return this.getInstalledPlugins()
    },
    data () {
      return {
        publicPlugins: [],
        installedPlugins: [],
        displayedPlugins: []
      }
    }
  }
</script>
