<!--
This is the public gallery of plugins used to install (and uninstall?) plugins.
Tasks:
- Detect if extension is installed and if not prompt to install it.
- Get a list of installed plugins from the extension.
- List all extensions and show an install link for those not already installed
- Have an installed tab to show and allow uninstalling installed extensions. Note installed extensions may not always be public.
-->
<div>
  <!-- Nav tabs -->
  <ul id='gallery-tabs' class="nav nav-tabs">
    <li role="presentation" id="publictab" class="active" >
      <a href="#public" on:click="toggleDisplayedPlugins(event)">Public Plugins <span class="badge">{{publicPlugins.length}}</span></a>
    </li>
    <li role="presentation" id="installedtab" >
      <a href="#installed" on:click="toggleDisplayedPlugins(event)">Installed Plugins <span class="badge">{{installedPlugins.length}}</a>
    </li>
  </ul>

  <div class="container-fluid">
    <div class="row">
      {{#if displayedPlugins.length === 0}}
       <small>No plugins available. Please make sure that you have installed the <a href="https://chrome.google.com/webstore/detail/gdnefhegodkfgopmjacoenelkfkbkkdg">Sheetmonkey Chrome plugin</a> installed and return!</small>
      {{/if}}
      {{#each displayedPlugins as plugin}}
        <div class="col-md-4 appcontainer">
          <div class="appicon">
            <img src="{{plugin.baseUrl + plugin.manifest.icon}}" style="width:120px; height:120px; text-align:center" />
          </div>
          <div class="appcontent">
            <h3 class="plugin-name" title="{{plugin.manifestUrl}}">{{plugin.manifest.name}}</h3>
            <h3 class="plugin-subtitle"><small>{{plugin.manifest.subtitle}}</small></h3>
            <p class="plugin-description">{{plugin.manifest.description}}</p>
          </div>
          <div class="appactions">
            {{#if plugin.installed }}
              <button type="button" class="btn btn-danger btn-xs" on:click="pluginInstaller('uninstallPlugin', plugin.manifestUrl)">Uninstall</button>
            {{else}}
              <button type="button" class="btn btn-primary btn-xs" on:click="pluginInstaller('installPlugin', plugin.manifestUrl)">Install</button>
            {{/if}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
<style>
  .appcontainer {
    height: 300px;
    overflow: hidden;
    margin: 20px;
  }
  .appicon { 
    float: left;
    height: 300px;
    width: 120px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: inline-block;
    position: relative;
  }
    /* because css is insane https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div */
  .appicon > img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .appcontent {
    height: 250px; /* leave plenty of room for appactions */
    padding: 5px;
    overflow:hidden;
    text-overflow: ellipsis;
  }
  .plugin-description {
    height:100%;
    text-overflow: ellipsis;
  }
  .appactions {
    height: 20px;
    padding: 5px;
    text-align:center;
  }
</style>
<script>
  /* global chrome */
  import Promise from 'bluebird'
  import $ from 'jquery'
  import Backend from '../lib/Backend'
  import Spinner from './Spinner.html'
  const sheetmonkeyExtensionIDDev = 'ogdoodkbmjkdjinimjigbkhioigjgfij'
  const sheetmonkeyExtensionIDProd = 'gdnefhegodkfgopmjacoenelkfkbkkdg'
  let sheetmonkeyExtensionID = ''

  export default {
    methods: {
      toggleDisplayedPlugins (event) {
        // i.e. when tab is clicked, toggle displayed plugins
        const target = $(event.target)
        const li = target.parents('#gallery-tabs li')
        // deslect all tabs:
        $('#gallery-tabs li').removeClass('active')
        // select appropriate tab:
        li.addClass('active')
        this.refreshDisplayedPlugins()
      },
      refreshDisplayedPlugins () {
        let pubTab = $('#publictab')
        if (pubTab.hasClass('active')) {
          this.set({displayedPlugins: this.get('publicPlugins')})
        } else {
          this.set({displayedPlugins: this.get('installedPlugins')})
        }
      },
      fetchPublicPlugins () {
        const spinner = new Spinner({ target: $('body').get(0) })
        return new Promise((resolve, reject) => {
          let b = Backend.build()
          b.getPublicPlugins().then(plugins => {
            console.log('Gallery plugins:', plugins)
            return this.getConnectedExtension().then(extension => {
              const cmd = {
                sheetmonkey: {
                  cmd: 'loadPluginsFromManifestUrls',
                  params: {
                    manifestUrls: plugins.map(p => p.manifestUrl)
                  }
                }
              }
              extension.sendMessage(sheetmonkeyExtensionID, cmd, response => {
                // we're at least in chrome, but it seems if we don't find the extension response is undefined.
                console.log('Chrome extension response (public):', response)
                // for each extensionin the public gallery; if pugin is installed, set .installed = true
                if (response) {
                  for (let p of response) {
                    p.installed = this.isInstalled(p)
                  }
                  this.set({publicPlugins: response})
                }
                return resolve(response)
              })
            }).catch(reject)
          })
        }).finally(() => { if (spinner) spinner.destroy() })
      },
      /**
       * Fetches the list of installed plugins from the browser client.
       */
      fetchInstalledPlugins () {
        const spinner = new Spinner({ target: $('body').get(0) })
        return new Promise((resolve, reject) => {
          return this.getConnectedExtension().then(extension => {
            const cmd = {
              sheetmonkey: {
                cmd: 'getRegisteredPlugins'
              }
            }
            return extension.sendMessage(sheetmonkeyExtensionID, cmd, response => {
              // we're at least in chrome, but it seems if we don't find the extension response is undefined.
              console.log('Chrome extension response:', response)
              if (response) {
                // for each extensionin the public gallery; if pugin is installed, set .installed = true
                for (let p of response) {
                  p.installed = true
                }
                this.set({installedPlugins: response})
              }
              return resolve(response)
            })
          }).catch(reject)
        }).finally(() => { if (spinner) spinner.destroy() })
      },
      pluginInstaller (actionName, manifestUrl) {
        const expectedActions = ['installPlugin', 'uninstallPlugin']
        if (expectedActions.indexOf(actionName) === -1) {
          console.error('unexpected action for installPluginHelper:', actionName)
          return
        }
        return this.getConnectedExtension().then(extension => {
          const cmd = {
            sheetmonkey: {
              cmd: actionName,
              params: {
                manifestUrl: manifestUrl
              }
            }
          }
          extension.sendMessage(sheetmonkeyExtensionID, cmd, response => {
            console.log(`${actionName} extension response:`, response)
            this.fetchInstalledPlugins().then(() => this.fetchPublicPlugins())
          })
        }).catch(err => console.error(err))
      },
      /**
       * Gets a connected chrome.runtime for the extension.
       */
      getConnectedExtension () {
        return new Promise((resolve, reject) => {
          if (!window.chrome || !chrome.runtime) {
            reject(new Error('not in chrome browser, assuming sheetmonkey not available in client.'))
          }

          // first try to see if dev extension is installed:
          chrome.runtime.connect(sheetmonkeyExtensionIDDev)
          const cmd = { sheetmonkey: { cmd: 'getRegisteredPlugins' } }
          chrome.runtime.sendMessage(sheetmonkeyExtensionIDDev, cmd, response => {
            if (response) {
              console.log('Using sheetmonkey DEV extension')
              sheetmonkeyExtensionID = sheetmonkeyExtensionIDDev
              resolve(chrome.runtime)
            } else {
              chrome.runtime.connect(sheetmonkeyExtensionIDDev)
              chrome.runtime.sendMessage(sheetmonkeyExtensionIDProd, cmd, response => {
                if (response) {
                  console.log('Using sheetmonkey PROD extension')
                  sheetmonkeyExtensionID = sheetmonkeyExtensionIDProd
                  resolve(chrome.runtime)
                } else {
                  reject(new Error('could not connect to dev or prod extension'))
                }
              })
            }
          })
        })
      },
      isInstalled (plugin) {
        let installedPlugins = this.get('installedPlugins')
        if (installedPlugins) {
          return installedPlugins.findIndex(p => p.manifestUrl.toLowerCase() === plugin.manifestUrl.toLowerCase()) >= 0
        }
      }
    },
    oncreate () {
      this.observe('publicPlugins', plugins => {
        console.log('observed publicPlugins')
        this.refreshDisplayedPlugins()
      })

      this.observe('installedPlugins', plugins => {
        console.log('observed installedPlugins')
        this.refreshDisplayedPlugins()
      })
      this.fetchInstalledPlugins().then(() => this.fetchPublicPlugins())
    },
    data () {
      return {
        publicPlugins: [],
        installedPlugins: [],
        displayedPlugins: []
      }
    }
  }
</script>
