<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Developer Login</h3>
  </div>
  <div class="panel-body">
    <form>
      <span class="">Login with your Smartsheet Account to register a plugin.</span>
      <div class="form-group">
        <button id="login" type="button" class="btn btn-default center-block">Login with Smartsheet</button>
      </div>
    </form>
  </div>
</div>

<script>
import $ from 'jquery'

export default {
  oncreate () {
    console.log('Login DOM Loaded')
    let token = $('#csrftoken').val()

    $('#login').click(function () {
      let loc = 'https://app.smartsheet.com/b/authorize?response_type=code&client_id=1fh67w5l0mt6ofuempg&scope=READ_SHEETS&state=' + encodeURIComponent(token)
      console.log('locx:', loc)
      window.location.href = loc
    })
  }
}
</script>
