<div id="justforpadding" style="padding:15px">
  <div id="panel" class="panel panel-default">
    <!--See http://getbootstrap.com/components/#panels-tables -->
    <div class="panel-heading">Plugins</div>
    <div class="panel-body">
      <p>Below are your registered plugins. You can view, edit, and delete them here.</p>
    
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" on:click="addPlugin()">Add</button>
      </div>

      <table id="tblplugins" class="table">
        <thead>
        <tr>
          <th>Manifest URL</th>
          <th>Smartsheet API Client ID</th>
          <th>Smartsheet API Client Secret</th>
          <th>Smartsheet API Redirect URL <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Enter this as the 'App redirect URL' in your Smartsheet developer tools." data-toggle="tooltip"></span></th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
          {{#each plugins as plugin, idx}}
          <tr>
            <td>{{plugin.manifestUrl}}</td>
            <td>{{plugin.apiClientID || ''}}</td>
            <td>{{plugin.apiClientSecret || ''}}</td>
            <td>{{plugin.redirectUrl || ''}}</td>
            <td><a href="#" on:click="deletePlugin(idx, plugin)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  import $ from 'jquery'
  import Actions from '../actions'
  import Backend from '../lib/Backend'
  import PluginEditDialog from './PluginEditDialog.html'
  import Spinner from './Spinner.html'

  export default {
    helpers: {
      genRedirectUrl (plugin) {
        return 'https://beta.sheetmonkey.com/'
      }
    },
    methods: {
      getUserPlugins () {
        let store = this.get('store')
        let state = store.getState()
        if (!state.user || !state.user.id) {
          throw new Error('User must be logged in to list plugins.')
        }
        const spinner = new Spinner({ target: $('body').get(0) })
        this.backend.getUserPlugins(state.user.id).then(response => {
          const plugins = response
          const action = Actions.setPlugins(plugins)
          this.get('store').dispatch(action)
        }).finally(() => { if (spinner) spinner.destroy() })
      },
      deletePlugin (pluginIndex, pluginValue) {
        // show an edit dialog:
        if (window.confirm('Are you sure you want to delete this plugin (press OK to confirm)?')) {
          // first update server...
          let userID = this.get('user').id
          const spinner = new Spinner({ target: $('body').get(0) })
          this.backend.deleteUserPlugin(pluginValue.manifestUrl, userID).then(response => {
            // now update the local model
            const action = Actions.deletePlugin(pluginIndex)
            this.get('store').dispatch(action)
          }).catch(e => {
            console.error('Error from backend deleting plugin:', e)
          }).finally(() => { if (spinner) spinner.destroy() })
        }
      },
      addPlugin () {
        let dlg = new PluginEditDialog({ target: $('body').get(0) })
        return dlg.prompt({}, 'Enter the plugin manifest URL below:').then(editedPlugin => {
          // save the plugin to the server
          let userID = this.get('user').id
          const spinner = new Spinner({ target: $('body').get(0) })
          this.backend.addUserPlugin(editedPlugin, userID).then(response => {
            // add the plugin to the local model
            const action = Actions.addPlugin(editedPlugin)
            this.get('store').dispatch(action)
          }).finally(() => {
            if (spinner) spinner.destroy()
          })
          return null
        }).catch(e => {
          console.error('Dialog error:', e)
        })
      }
    },
    data () {
      // note: Data supplied at instantiation (i.e. new Component(...)) takes priority over defaults.
      return {
        store: null,
        plugins: []
      }
    },
    oncreate () {
      const store = this.get('store')
      if (!store) {
        throw new Error('redux store must be provided by initializer of this component!')
      }
      this.backend = Backend.build()
      this.unsubscribeStore = store.subscribe(() => {
        let state = store.getState()
        this.set(state) // this will not overwrite the existing store property in the local state.
      })
      this.getUserPlugins()
      // init the bootstrap tooltip plugin
      $(function () {
        console.log('initializing toolstipos on', $('[data-toggle="tooltip"]').get(0))
        $('[data-toggle="tooltip"]').tooltip()
      })
    },
    ondestroy () {
      if (this.unsubscribeStore) {
        this.unsubscribeStore()
        this.unsubscribeStore = null
      }
    }
  }
</script>
