<div id="pluginEditDialog" class="dialog dialog-disabled-background hidden" tabindex="-1" role="dialog">
  <div class="dialog-modal panel panel-default" role="document">
    <div class="panel-heading">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Edit Plugin</h4>
    </div>
    <form>
      <div class="dialog-body form-group">
        <p class="message help-block">pluginEditDialog message</p>
        <label for="inputManifestUrl">Manifest URL</label>
        <input type="url" id="inputManifestUrl" class="form-control" pattern="https://.+" placeholder="https://yourdomain.com/yourmanifest.json"  bind:value="manifestUrl" required>
        <label for="apiClientID">Smartsheet API Client ID <small>(optional)</small></label>
        <input type="text" id="apiClientID" class="form-control" bind:value="apiClientID">
        <label for="apiClientSecret">Smartsheet API Client Secret <small>(optional)</small></label>
        <input type="text" id="apiClientSecret" class="form-control" bind:value="apiClientSecret">
        <label for="requestWhitelist">
          Smartsheet API Whitelist <small>(optional)</small>
          <a href="#" on:click="editWhitelist()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
        </label>
          <ul class="list-group" id="requestWhitelist">
            {{#if requestWhitelist}}
            {{#each requestWhitelist as listValue, listValueIndex }}
              <li class="list-group-item">
                {{listValue}}
              </li>
            {{/each}}
            {{/if}}
          </ul>
      </div>
      <div class="dialog-footer panel-footer">
        <!-- <button class="save btn btn-primary">Save</button> -->
        <input type="submit" value="Save" class="save btn btn-primary" />
        <button class="cancel btn btn-default">Cancel</button>
      </div>
    </form>
  </div>
</div>

<script>
import $ from 'jquery'
import Promise from 'bluebird'
import urlmod from 'url'
import ListEditDialog from './ListEditDialog.html'

export default {
  methods: {
    prompt (message, plugin, isEditing = true) {
      plugin = this.deepClone(plugin) // <- make sure we never dirty up the passed in object (e.g. when user cancels).
      let domLoaded = Promise.resolve()
      return domLoaded.then(() => {
        let dialog = $('#pluginEditDialog')
        let inputManifestUrl = dialog.find('#inputManifestUrl')
        let cancelButton = dialog.find('button.cancel')
        let form = dialog.find('form')
        this.set(plugin)
        console.log('isEditing:', isEditing)
        inputManifestUrl.get(0).readOnly = isEditing // <- because manifestUrl is the key
        inputManifestUrl.on('input', this.validate.bind(this))
        dialog.find('.message').text(message)
        if (plugin) inputManifestUrl.val(plugin.manifestUrl)
        dialog.removeClass('hidden')
        return new Promise((resolve, reject) => {
          form.on('submit', e => {
            e.preventDefault()
            console.log('submit:', e)
            dialog.addClass('hidden')
            let plugin2 = this.get()
            this.close()
            resolve(plugin2)
          })
          cancelButton.on('click', e => {
            e.preventDefault() // <- Prevent form from submitting (don't ask me why, html is stupid)
            this.close()
            reject(new Error('user clicked cancel'))
          })
        })
      })
    },
    close () {
      this.destroy()
    },
    validate () {
      const inputManifestUrl = $('#inputManifestUrl')
      const u = urlmod.parse(inputManifestUrl.val())
      let msg = ''
      if (u.protocol !== 'https:') {
        msg += 'The protocol must be https.\n'
      }
      if (!u.host) {
        msg += 'A host must be specified.\n'
      }
      inputManifestUrl.get(0).setCustomValidity(msg)
      return msg === ''
    },
    deepClone (arr) {
      if (!arr) return arr
      let s = JSON.stringify(arr)
      return JSON.parse(s)
    },
    editWhitelist () {
      let requestWhitelist = this.get('requestWhitelist')
      let listEditor = new ListEditDialog({ target: $('body').get(0) })
      listEditor.prompt('Smartsheet API Request Whitelist:', requestWhitelist).then(editedList => {
        console.log('Whitelist editedList:', editedList)
        this.set({requestWhitelist: editedList})
      }).catch(e => {
        if (e.message !== 'user clicked cancel') console.error('Dialog error:', e)
      })
    }
  },
  oncreate () {
    this.set({isCreated: true})
  }
}
</script>
