  {{#if user.loggedIn}}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.email}} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#" on:click="onMyPluginsClick(event)">My Plugins</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#doLogout" on:click="onLogoutClick(event)">Logout</a></li>
      </ul>
    </li>
  {{else}}
    <li><a href="#doLogin" on:click="onLoginClick(event)">Login</a></li>
  {{/if}}


<script>
import $ from 'jquery'
import Actions from '../actions'
import Backend from '../lib/Backend'
import Plugins from './Plugins.html'

export default {
  methods: {
    authUser () {
      this.backend.me().then(response => {
        console.log('authUser backend response:', response)
        const user = Object.assign({ loggedIn: true }, response)
        const action = Actions.setUser(user)
        this.get('store').dispatch(action)
      }).catch(e => {
        console.error(`Error calling me API: ${e}`)
      })
    },

    onLoginClick (event) {
      console.log('onLoginClick')
      let token = $('#csrftoken').val()
      console.log('token:', token)
      let loc = 'https://app.smartsheet.com/b/authorize?response_type=code&client_id=1fh67w5l0mt6ofuempg&scope=READ_SHEETS&state=' + encodeURIComponent(token)
      console.log('loc:', loc)
      window.location.href = loc
    },

    onLogoutClick (event) {
      console.log('logonLogoutClickout')
      // delete cookie:
      document.cookie = 'jwt=; expires=Thu, 01 Jan 1970 00:00:01 GMT;'
      // for dev purposes (Backend.build will be a mock when run locally):
      this.backend = Backend.build({ me: {} })
      const action = Actions.setUser({ loggedIn: false })
      this.get('store').dispatch(action)
    },

    getTarget () {
      if (!('rootComponentTarget' in window)) throw new Error('rootComponentTarget state required in redux app state')
      return window.rootComponentTarget
    },

    onMyPluginsClick (event) {
      let comp = new Plugins({
        target: this.getTarget(),
        data: {
          store: this.get('store')
        }
      })
      window.setRootComponent(comp)
    }
  },

  data () {
    // note: Data supplied at instantiation (i.e. new Component(...)) takes priority over defaults.
    return {
      user: { loggedIn: false },
      store: null
    }
  },

  oncreate () {
    const store = this.get('store')
    console.assert(store, 'redux store must be provided by initializer of this component!')
    this.backend = Backend.build()
    this.authUser()
    this.unsubscribeStore = store.subscribe(() => {
      let state = store.getState()
      console.log('redux state change detected in ProfileButton:', state)
      // make the 'app' state available to this component as root-level props (note this doesn't overwrite existing props set already)
      this.set(state)
    })
  },

  ondestroy () {
    if (this.unsubscribeStore) {
      this.unsubscribeStore()
      this.unsubscribeStore = null
    }
  }
}
</script>
